<onbotgo-box
  style="
    padding: 20px;
    max-width: calc(100% - 40px);
    border-radius: 8px 8px 0 0;
  "
  id="onbotgo-chatheader"
>
  <img
    src=""
    style="margin-left: -20px; width: 50%; filter: brightness(0) invert(1)"
    height="80"
    alt="tarjeta oh logo"
  />
</onbotgo-box>
<onbotgo-box
  style="
    height: 85%;
    padding: 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
  "
>
  <onbotgo-customscrollbar
    style="visibility: hidden"
    data-target-id="scrollableElement"
  >
  </onbotgo-customscrollbar>
  <onbotgo-box
    id="onbotgo-messageContainer"
    style="
      height: calc(100% - 1.5rem);
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 15px;
      position: relative;
      padding: 1rem 0.5rem;
      width: 100%;
    "
  >
  </onbotgo-box>
</onbotgo-box>
<onbotgo-box
  style="
    display: flex;
    gap: 10px;
    align-items: center;
    height: 48px;
    padding: 0 10px;
  "
>
  <onbotgo-box id="onbotgo-attachFileTemplateContainer"> </onbotgo-box>
  <onbotgo-chatinput
    id="onbotgo-chatinput"
    style="width: 100%"
  ></onbotgo-chatinput>
  <onbotgo-micrecord
    id="onbotgo-micrecord"
    style="width: 100%; display: flex; align-items: center; gap: 10px"
  ></onbotgo-micrecord>
  <onbotgo-iconbutton
    id="onbotgo-btnrecordSend"
    color="primary"
    size="36px"
    style="margin-top: 7px"
  >
    {{it.sendIcon | safe}}
  </onbotgo-iconbutton>
  <onbotgo-iconbutton
    id="onbotgo-btnrecord"
    color="primary"
    size="36px"
    style="margin-top: 7px"
  >
    {{it.micIcon | safe}}
  </onbotgo-iconbutton>
</onbotgo-box>
<onbotgo-box
  class="onbotgo-chat-footer"
  style="color: #a1a1a1; font-size: 10px; padding: 0 10px"
>
  Powered by ONBOTGO LLC. {{it.logo | safe}}
</onbotgo-box>
